<div id="welcome">
  <%= image_tag @random, id: "background-image" %>
  <div id="logo">Petss<span>up</span></div>
  <div class="main-msg"><span>
    <span class="logo-style">Petssup</span> is the social network for pets by pets. At <span class="logo-style">Petssup</span>, your pets voice themselves freely on stuff they love, including food, humans, and other pets! If your pet is not yet a part of this latest trend, please let them borrow your email and sign up so that they don't feel left behind!
  </span></div>
  <div id="frame">
    <div id="about">
      <div class="square">
        <div class="icon"><i class="fa fa-music"></i></div>
        <div>Hear their voice</div>
        <div class="desc">Record your pet's voices and keep them saved. Have your pet interact with others with them.</div>
      </div>
      <div class="square">
        <div class="icon"><i class="fa fa-camera-retro"></i></div>
        <div>Share their moment</div>
        <div class="desc">Post up pictures and videos of your pets. What have they been up to lately?</div>
      </div>
      <div class="square">
        <div class="icon"><i class="fa fa-smile-o"></i></div>
        <div>Or just browse & stalk</div>
        <div class="desc">Search and view other pets' profile and postings!</div>
      </div>
    </div>
  </div>

</div>

<%= render "shared/new_session" %>
<%= render "shared/new_user" %>

