<div id="welcome">
  <%= image_tag @random,
        width: 1440,
        style: "opacity: 0.8",
        id: "background-image"
  %>
  <div id="logo">Site Name Here</div>
  <div class="main-msg">Site Name Here is a social network for your pets. At Site Name Here, pets freely voice themselves on stuff they love, including food, humans, and other pets! If your pet is not yet a member, please sign up and not leave your pet behind in the latest trend!</div>
</div>

<%= render "shared/new_session" %>

<div class="content">

  <div class="column">
  </div>

  <div class="column">
  </div>

</div>
