<div id ="postDp">
  <div class="screen">
    <div class="message">

      <%= render "form" %>

      <div class="btn btn-default">
        <%= link_to "Back to Profile", user_path(current_user) %>
      </div>
      <br>
    </div>
  </div>
</div>
