<div class="sound">

  <div class="show-sound">
    <span class="btn btn-primary btn-xs play" >
      <%= sound.sound_type %>♪
      <%= audio_tag sound.sound_url, id: sound.id, class: "btn btn-default btn-sm audio-play" %>
    </span>
    <span>
    </span>
    <% if current_user == sound.user %>
    <span id="delete-sound">
      <%= link_to "✖", sound, method: :delete,
                  data: { confirm: "You sure?" } %>
    </span>
    <% end %>
  </div>

</div>
