<div class="sound">

  <div class="show-sound">
    <%= audio_tag sound.sound_url %>
    <span class="sound-type"><%= sound.type %></span>
    <span>Edit</span>
    <span id="delete-sound"><%= link_to "✖", "/sounds/:id", method: :delete %></span>
  </div>

</div>
