<div class="sound">
  <div class="sound-user">
        <%= link_to sound.user.name, sound.user %>'s <%= sound.type %> sound
  </div>
  <div class="buttons">
      <div class="btn btn-default"><%= link_to 'Edit', edit_sound_path %></div>
      <div class="btn btn-danger">Delete</div>
  </div>
</div>
