/*
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'symbols';

body {
  margin: 0 auto;
  font-family: $main-font;
  font-size: $small-font;
  color: $lonely-olive;
}
