@import 'symbols';

// First Half - Welcome //

#welcome {
  position: relative;
  width: 100%;
}

#background-image {
  width: 100%;
  opacity: 0.95;
}

#welcome-msg {
  position: absolute;
  top: 27%;
  left: 0;
  width: 100%;
}

#welcome-msg > div {
  margin: 5% 5%;
}

#main-logo {
  font-size: 1400%;
}

#main-msg {
  font-size: $accent;
}

#main-msg > span{
 background-color: $amita-orange;
}

// Second Half - About //

#about {
  background-color: $anemone-beige;
}

#about-msg {
  text-align: center;
}

#about-msg > div {
  margin: 12% 0;
}

.icon {
  font-size: 160px;
  color: $creamsicle;
}

.about-heading {
  font-family: $logo-font;
  font-size: $accent;
  color: $lonely-olive;
}

.desc {
  padding: 10px;
  font-size: 30px;
  color: $lonely-olive;
}

.desc span {
  background-color: $amita-orange;
}
