@import 'symbols';

#background-image {
  position: absolute;
  top: 0;
  z-index: -3;
  width: 1440px;
  opacity: 0.95;
}

#logo {
  margin: 36% 10% 0 10%;
  font-family: $logo-font;
  font-size: 190px;
  color: $lonely-olive;
}

#logo > span {
  color: $creamsicle;
}

.main-msg, #about {
  margin: 10% 10% 0 10%;
  min-height: 200px;
  font-size: $accent;
  color: $lonely-olive;
}

.main-msg > span {
  background-color: $amita-orange;
}

#frame {
  width: 100%;
  min-height: 900px;
  background-color: $anemone-beige;
}

#about {
  padding-top: 39px;
}

.square {
  margin: 20% auto 20% auto;
  padding: 20px;
  float: left;
  width: 380px;
  height: 400px;
  text-align: center;
}

.icon {
  font-size: 150px;
  color: $creamsicle;
}

.desc {
  font-size: 24px;
  color: $lonely-olive;
}
