@import 'shared';

#background-image {
  position: absolute;
  top: 0;
  z-index: -5;
}

#logo {
  margin: 43% 10% 0 10%;
  font-family: $logo-font;
  font-size: 150px;
  color: black;
}

.main-msg {
  margin: 0 10%;
  min-height: 200px;
  font-size: 24px;
  border: 1px black solid;
}

#home-content {
  width: 80%;
  margin: 0 auto;
}

.column {
  float: left;
  margin-top: 28.1%;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  min-height: 800px;
  border: 1px black solid;
}

#newsfeed-heading {
  text-align: center;
  font-size: 32px;
}

.column > div, .column > article {
  margin: 0 15px;
  padding-bottom: 20px;
}

.news-title {
  font-size: 22px;
}

.news-date {
  font-size: 14px;
}
