@import 'symbols';

.post {
  display: block;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: white;
}

.post > div, .post > img, .post > video {
  margin: 0 20px;
}

.post-header {
  padding: 15px 0;
}

.post-user {
  margin-left: 5px;
  margin-top: 50px;
  font-size: 20px;
}

.post-time {
  float: right;
  font-size: 14px;
}

.post-body {
  padding-bottom: 15px;
}

.user-icon {
  width: 45px;
  height: 45px;
}

.post-image {
  display: block;
  width: 95%;
  margin: 0 auto;
}

.post-video {
  margin: 0 auto;
  width: 95%;
}

.comment-menu {
  padding-top: 10px;
}

.comment-menu > a, .comment-menu > span {
  margin-right: 20px;
  font-size: 14px;
  font-family: $accent-font2;
}

.show-comments, .add-comment {
  clear: both;
  font-size: 14px;
  margin-bottom: 15px;
}

.show-comments {
  display: none;
  padding-bottom: 15px;
}

.add-comment {
  padding: 5px 0 15px 0;
}

.comment > div, .comment > img {
  display: inline;
}

.comment {
  margin-bottom: 5px;
}

.comments-btn:hover {
  cursor: pointer;
  color: $creamsicle;
}

#new-comment-btn, #new-comment-voice-btn, #new-comment-form {
  float: right;
  margin-bottom: 10px;
  margin-left: 0;
}

#new-comment-btn {
  background-color: $amita-orange;
}

.new-comment-form {
  min-width: 55%;
  height: 22px;
}

#new-comment-btn input {
  width: 20px;
}

.comment-icon {
  width: 35px;
  height: 35px;
}

.play:hover {
  cursor: pointer;
  color: $amita-orange;
}

.message-modal {
  width: 500px;
  margin: 25px auto;
}
