.post {
  float: left;
  width: 50%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px black solid;
}

.post > div, .post > img, .post > video {
  margin: 0 20px;
}

.post-header {
  padding: 15px 0;
}

.post-user {
  margin-top: 50px;
  font-size: 20px;
}

.post-time {
  float: right;
  font-size: 14px;
}

.post-body {
  padding-bottom: 15px;
}

.user-icon {
  width: 45px;
  height: 45px;
}

.post-image {
  width: 435px;
}
