.post {
  float: left;
  width: 50%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px black solid;
}

.post > div, .post > img, .post > video {
  margin: 0 20px;
}

.post-header {
  padding: 15px 0;
}

.post-user {
  margin-top: 50px;
  font-size: 20px;
}

.post-time {
  float: right;
  font-size: 14px;
}

.post-body {
  padding-bottom: 15px;
}

.user-icon {
  width: 45px;
  height: 45px;
}

.post-image {
  width: 435px;
}

.post-video {
  width: 435px;
}

.show-comments, .add-comment {
  clear: both;
  font-size: 14px;
  margin-bottom: 15px;
}

.add-comment {
  padding-top: 5px;
}

.comment > div, .comment > img {
  display: inline;
}

.comment {
  margin-bottom: 5px;
}

#new-comment-btn, #new-comment-voice-btn, #new-comment-form {
  float: left;
  margin-bottom: 10px;
  margin-left: 0;
}

.new-comment-form {
  min-width: 65%;
  height: 22px;
}

.comment-icon {
  width: 35px;
  height: 35px;
}
