@import 'symbols';

// SHARED STYLING //

header {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: $banner;
}

header div {
  float: right;
  margin: 10px $min-margin;
  font-family: $logo-font;
  font-style: bold;
  font-size: $accent;
  color: $creamsicle;
}

#toggle {
  display: none;
}

#toggle div {
  margin: 0 $min-margin;
}

#login:hover, #join:hover, #menu:hover {
  cursor: pointer;
  color: $amita-orange;
}

#menu {
  color: $lonely-olive;
}

footer {
  min-height: $banner;
  background-color: $filth;
}

footer div {
  margin: 10px $min-margin;
  display: inline-block;
  font-family: $accent-font1;
  font-size: 38px;
  color: $lonely-olive;
}

#copyright {
  color: $anemone-beige;
  font-size: 28px;
}

.accent {
  font-family: $accent-font2;
  font-size: $accent;
}

.logo-style {
  font-family: $logo-font;
  color: $lonely-olive;
}

.logo-style > span {
  color: $creamsicle;
}

.error {
  color: white;
  font-size: 22px;
}

.success {
  color: $lonely-olive;
}

// Form //

.form-group > div > label {
  font-size: 22px;
}

form > input {
  border-radius: 5px;
  min-width: 100px;
  background-color: white;
}

form > a {
  margin-left: 15px;
}
