// SHARED STYLING //

// Fonts //

$logo-font: 'Pacifico', cursive;
$accent-font1: 'Swanky and Moo Moo', cursive;
$accent-font2: 'Laila', serif;
$main-font: 'Rokkitt', serif;

// Colors //

$creamsicle: #FFBF66;
$amita-orange: #D99969;
$anemone-beige: #B3937C;
$filth: #907F75;
$lonely-olive: #434223;

// Sizes //

$small-font: 16px;
$banner: 55px;
$accent: 34px;
$min-margin: 15px;
$max-margin: 25px;

// Other Shared //

body {
  margin: 0 auto;
  font-family: $main-font;
  font-size: $small-font;
  color: $lonely-olive;
}

header {
  position: fixed;
  top: $min-margin;
  width: 100%;
  min-height: $banner;
}

header div {
  float: right;
  margin: 0 $min-margin;
  font-family: $accent-font2;
  font-style: bold;
  font-size: $accent;
  color: $creamsicle;
}

#menu {
  color: $lonely-olive;
}

footer {
  clear: both;
  min-height: $banner;
  background-color: $filth;
}

footer div {
  margin: 0 $min-margin;
  margin-bottom: $min-margin;
  display: inline-block;
  font-family: $accent-font1;
  font-size: 38px;
  color: $lonely-olive;
}

#copyright {
  color: $anemone-beige;
  font-size: 22px;
}

#login {
  color: $amita-orange;
}

.accent {
  font-family: $accent-font2;
  font-size: $accent;
}

.logo-style {
  font-family: $logo-font;
}

.logo-style > span {
  color: $creamsicle;
}

.error {
  color: white;
  font-size: 22px;
}

// Form //

.form-group > div > label {
  font-size: 22px;
}

form > input {
  border-radius: 5px;
  min-width: 100px;
  background-color: $filth;
}

form > a {
  margin-left: 15px;
}

// Link //

a {
  color: $creamsicle;
  font-family: $logo-font;
}

// Button //

