@import 'shared';

// INDEX PAGE //

// Header & Intro //

#user-index {
  background-color: $anemone-beige;
}

#index-header {
  padding-top: 230px;
  padding-bottom: 150px;
  width: 70%;
  margin: 0 auto;
}

#index-greeting {
  font-size: 50px;
}

#index-intro > div, #index-intro > img {
  margin: 0 auto;
  text-align: center;
}

#index-intro > img {
  margin-top: $min-margin;
  margin-bottom: $min-margin;
}

#latest-blurb {
  font-family: $accent-font1;
  font-size: 30px;
  padding-bottom: 15px;
}

#index-btn {
  border-radius: 5px;
  font-family: $accent-font1;
  font-size: 30px;
  padding: 0 15px;
  background-color: $amita-orange;
  color: white;
}

// Content //

#index-content {
  width: 480*2px;
  margin: 0 auto;
}

#index-post, #index-search-and-news {
  width: 480px;
  float: left;
  margin: 0 auto;
  margin-bottom: 15%;
}

#index-post-header, #index-search-header, #index-news-header {
  margin: 18px auto;
  text-align: center;
}

#search-body {
  margin: 15px;
}

.btn #search-btn {
  width: 50px;
  float: right;
  background-color: $lonely-olive;
}

#users-table {
  background-color: $amita-orange;
  border-radius: 10px;
}

article {
  margin: 15px;
  padding: 5px;
  min-height: 100px;
  background-color: $anemone-beige;
  border-radius: 10px;
}

.news-title {
  font-size: 26px;
  font-family: $accent-font1;
  color: $lonely-olive;
}

.news-date, #index-news-header > span {
  font-size: 14px;
  color: $amita-orange;
}
