@import 'symbols';

#loginDp, #joinDp {
  display: none;
}

#joinDp, #loginDp, #postDp {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 2250px;
  z-index: 2;
  background-color: rgba(0,0,0,0.35);
}

.screen {
  margin: 15% auto 0 auto;
  width: 50%;
  border-radius: 10px;
  background-color: $anemone-beige;
}

.message {
  width: 60%;
  padding: 5% 0;
  margin: auto;
}

.form-field {
  margin: 5px 0;
  width: 100%;
}

.btn {
  float: left;
  margin-right: 5px;
}
