// Main Page

#main-header {
  margin-top: 250px;
  color: black;
}

#main-header > div {
  margin: 0 auto;
  width: 30%;
  border: 1px solid black;
}

#main-content {
  width: 70%;
  margin: 150px auto;
}

.content-header {
  font-size: 20px;
  margin: 20px 0;
}
