@import 'symbols';

#profile-content {
  background-color: $filth;
}

#profile-content > .row {
  width: 70%;
  margin: 0 auto;
}

#user-profile, #user-content {
  padding: 20px 0;
  margin: 80px 0;
}


#user-profile {
  background-color: $amita-orange;
  border-radius: 10px;
}

#user-content {
  background-color: $anemone-beige;
  border-radius: 10px;
}

// Profile Section //

#user-profile > div, #user-content > div {
  margin: 15px 25px;
}

.profile-img {
  width: 290px;
  height: 290px;
}

.pf-row div {
  float: left;
  width: 50%;
  height: 28px;
}

#edit-profile {
  display: none;
  margin-top: 50px;
}

#profile-btns > div {
  float: right;
  margin-left: 20px;
}

#profile-btn {
  margin: 0 auto;
}

// Post //

#show-posts {
  margin: 0 auto;
}

#create-post-btn {
  float: right;
  background-color: $amita-orange;
}

// Sound //

#user-sounds {
  background-color: $amita-orange;
  border-radius: 10px;
  padding: 7px;
  min-height: 100px;
}

#new-sound-btn {
  float: right;
  font-family: $logo-font;
  color: $lonely-olive;
}

.show-sound {
  float: left;
}


